/*CSS dùng chung*/

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.border-red {
    border: 1px solid #ff0000;
}

/*loading*/
.loading {
    display: none;
}

.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #808080;
    opacity: 0.5;
    z-index: 99999999;
}

.loading-icon {
    position: fixed;
    border-radius: 50px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border: 5px solid #F3F3F3;
    border-top: 5px solid #019160;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    z-index: 99999999;
}

/*Quay loading*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Thông báo */
.alert-messages {
    display: none;
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 999999999999999;
}

.alert {
    display: flex;
    height: 48px;
    border-radius: 4px;
    padding: 0 10px;
    align-items: center;
}

    .alert .alert-text {
        padding: 0 40px 0 10px;
        font-size: 13px;
        color: #000000;
    }

    .alert .fas {
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
    }

.alert-success {
    background-color: #BAFFE7;
    color: #019160;
}

.alert-warning {
    background-color: #f7e99b;
    color: #bfb620;
}

.alert-danger {
    background-color: #FFEBEB;
    color: #d45e5e;
}
