/* Nội dung trang */
.content {
    position: absolute;
    top: 61px;
    left: 221px;
    width: calc(100% - 221px);
    height: calc(100vh - 61px);
    background: #ffffff;
}

    /*header content*/
    .content .header-content {
        display: flex;
        align-items: center;
        padding: 16px;
    }

        .content .header-content .title {
            font-size: 20px;
            font-weight: bold;
        }

        .content .header-content .content-feature {
            position: absolute;
            right: 16px;
        }

    .content .paging-bar {
        margin: 0 16px;
        height: 56px;
        background-color: #ffffff;
    }
