/* Bảng dữ liệu*/
.grid {
    overflow-x: auto;
    margin-top: 10px;
    height: calc(100vh - 226px);
    padding: 0 0 0 16px;
}

/* width */
.grid::-webkit-scrollbar {
    width: 14px;
    height: 10px;
}

/* Track */
    .grid::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

/* Handle */
    .grid::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
        .grid::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    .grid thead th {
        position: sticky;
        top: 0px;
        z-index: 5;
        background: #ffffff;
    }

    .grid tbody tr:nth-child(2n+1) {
        background-color: #e1e1e1;
    }

    .grid tbody tr:hover {
        background-color: #2FBE8E;
        cursor: pointer;
    }

th, td {
    border-bottom: 1px solid #bbbbbb;
    padding: 9px 16px;
    text-align: left;
    white-space: nowrap;
}

    th:last-child {
        max-width: 150px;
    }

    td:last-child {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.row-selected {
    background-color: #349e7a;
}
